*, *:before, *:after {
    box-sizing: border-box;
}

:host {
    display: inline-block;
    width: 720px;
    height: 100px;
    background-color: black;
    overflow: hidden;
    position: relative;
    margin: 5px;
}

h1 {
    color: #e2e2e2;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px 3px black;
}
